<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/beans/spring-aop.xsd">


    <beans default-init-method="init">

        <bean id="blogService" class="com.zz.spring.test.bean.Test"> </bean>

    </beans>

    <aop:config>
        <aop:pointcut id="" expression=""></aop:pointcut>
        <aop:aspect>
            <aop:before method="" pointcut-ref=""></aop:before>
        </aop:aspect>
    </aop:config>
</beans>